/* Definimos las Custom properties */

@font-face {
  font-family: 'Poppins';
  src: url(../assets/font/Poppins-Light.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/font/Poppins-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/font/Poppins-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/font/Poppins-Bold.woff) format('woff');
  font-weight: 700;
}
:root {
  /* Colores */
  --zinc-100: #f4f4f5;
  --zinc-400: #a1a1aa;
  --zinc-900: #18181b;
  --zinc-700: #4f4fb4;
  --green: #135846;
  --zinc-800: #27272a;
  --bg-gradient: linear-gradient(145deg, #161618, #1a1a1d);
  --box-shadow: 5px 5px 10px #141417, -5px -5px 10px #1c1c1f;
  /* Tipografía */
  --tipo-principal: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

¡

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--zinc-100);
  background-color: var(--zinc-900);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}
